Logictracker/Framework/Application/Logictracker.Tracker.Application.WebServiceConsumer/Web References/WsSosService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws_derivacion_ivr.redsos.com.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws_derivacion_ivr.redsos.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws_derivacion_ivr.redsos.com.ar/">
      <s:element name="ObtenerServiciosDerivar">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerServiciosDerivarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerServiciosDerivarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerIntentosLlamada">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerIntentosLlamadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerIntentosLlamadaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerIntentosConfirmaSMS">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerIntentosConfirmaSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerIntentosConfirmaSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerSMSaConfirmar">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerSMSaConfirmarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerSMSaConfirmarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="informarResultados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idTelefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoResultado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intentos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resultado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idRechazo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ultimo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="informarResultadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="informarResultadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosDeServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_strIdMovil" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosDeServicioResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerFormulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_idMovil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerFormularioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerFormularioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarAcceso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_idMovil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarAccesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarAccesoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAlertas">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerAlertasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerAlertasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerServiciosDerivarSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerServiciosDerivar" />
  </wsdl:message>
  <wsdl:message name="ObtenerServiciosDerivarSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerServiciosDerivarResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosLlamadaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerIntentosLlamada" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosLlamadaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerIntentosLlamadaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosConfirmaSMSSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerIntentosConfirmaSMS" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosConfirmaSMSSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerIntentosConfirmaSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerSMSaConfirmarSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerSMSaConfirmar" />
  </wsdl:message>
  <wsdl:message name="ObtenerSMSaConfirmarSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerSMSaConfirmarResponse" />
  </wsdl:message>
  <wsdl:message name="informarResultadosSoapIn">
    <wsdl:part name="parameters" element="tns:informarResultados" />
  </wsdl:message>
  <wsdl:message name="informarResultadosSoapOut">
    <wsdl:part name="parameters" element="tns:informarResultadosResponse" />
  </wsdl:message>
  <wsdl:message name="DatosDeServicioSoapIn">
    <wsdl:part name="parameters" element="tns:DatosDeServicio" />
  </wsdl:message>
  <wsdl:message name="DatosDeServicioSoapOut">
    <wsdl:part name="parameters" element="tns:DatosDeServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerFormularioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerFormulario" />
  </wsdl:message>
  <wsdl:message name="ObtenerFormularioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerFormularioResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarAccesoSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarAcceso" />
  </wsdl:message>
  <wsdl:message name="ValidarAccesoSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerAlertasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerAlertas" />
  </wsdl:message>
  <wsdl:message name="ObtenerAlertasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerAlertasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerServiciosDerivarHttpGetIn" />
  <wsdl:message name="ObtenerServiciosDerivarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosLlamadaHttpGetIn" />
  <wsdl:message name="ObtenerIntentosLlamadaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosConfirmaSMSHttpGetIn" />
  <wsdl:message name="ObtenerIntentosConfirmaSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerSMSaConfirmarHttpGetIn" />
  <wsdl:message name="ObtenerSMSaConfirmarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="informarResultadosHttpGetIn">
    <wsdl:part name="servicio" type="s:string" />
    <wsdl:part name="idTelefono" type="s:string" />
    <wsdl:part name="tipoResultado" type="s:string" />
    <wsdl:part name="intentos" type="s:string" />
    <wsdl:part name="resultado" type="s:string" />
    <wsdl:part name="idRechazo" type="s:string" />
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="ultimo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="informarResultadosHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DatosDeServicioHttpGetIn">
    <wsdl:part name="_strIdMovil" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DatosDeServicioHttpGetOut" />
  <wsdl:message name="ObtenerFormularioHttpGetIn">
    <wsdl:part name="_idMovil" type="s:string" />
    <wsdl:part name="_pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerFormularioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidarAccesoHttpGetIn">
    <wsdl:part name="_idMovil" type="s:string" />
    <wsdl:part name="_pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidarAccesoHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ObtenerAlertasHttpGetIn" />
  <wsdl:message name="ObtenerAlertasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerServiciosDerivarHttpPostIn" />
  <wsdl:message name="ObtenerServiciosDerivarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosLlamadaHttpPostIn" />
  <wsdl:message name="ObtenerIntentosLlamadaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerIntentosConfirmaSMSHttpPostIn" />
  <wsdl:message name="ObtenerIntentosConfirmaSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerSMSaConfirmarHttpPostIn" />
  <wsdl:message name="ObtenerSMSaConfirmarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="informarResultadosHttpPostIn">
    <wsdl:part name="servicio" type="s:string" />
    <wsdl:part name="idTelefono" type="s:string" />
    <wsdl:part name="tipoResultado" type="s:string" />
    <wsdl:part name="intentos" type="s:string" />
    <wsdl:part name="resultado" type="s:string" />
    <wsdl:part name="idRechazo" type="s:string" />
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="ultimo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="informarResultadosHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DatosDeServicioHttpPostIn">
    <wsdl:part name="_strIdMovil" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DatosDeServicioHttpPostOut" />
  <wsdl:message name="ObtenerFormularioHttpPostIn">
    <wsdl:part name="_idMovil" type="s:string" />
    <wsdl:part name="_pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerFormularioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidarAccesoHttpPostIn">
    <wsdl:part name="_idMovil" type="s:string" />
    <wsdl:part name="_pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidarAccesoHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ObtenerAlertasHttpPostIn" />
  <wsdl:message name="ObtenerAlertasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ObtenerServiciosDerivar">
      <wsdl:input message="tns:ObtenerServiciosDerivarSoapIn" />
      <wsdl:output message="tns:ObtenerServiciosDerivarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <wsdl:input message="tns:ObtenerIntentosLlamadaSoapIn" />
      <wsdl:output message="tns:ObtenerIntentosLlamadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <wsdl:input message="tns:ObtenerIntentosConfirmaSMSSoapIn" />
      <wsdl:output message="tns:ObtenerIntentosConfirmaSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <wsdl:input message="tns:ObtenerSMSaConfirmarSoapIn" />
      <wsdl:output message="tns:ObtenerSMSaConfirmarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <wsdl:input message="tns:informarResultadosSoapIn" />
      <wsdl:output message="tns:informarResultadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <wsdl:input message="tns:DatosDeServicioSoapIn" />
      <wsdl:output message="tns:DatosDeServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <wsdl:input message="tns:ObtenerFormularioSoapIn" />
      <wsdl:output message="tns:ObtenerFormularioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <wsdl:input message="tns:ValidarAccesoSoapIn" />
      <wsdl:output message="tns:ValidarAccesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <wsdl:input message="tns:ObtenerAlertasSoapIn" />
      <wsdl:output message="tns:ObtenerAlertasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ObtenerServiciosDerivar">
      <wsdl:input message="tns:ObtenerServiciosDerivarHttpGetIn" />
      <wsdl:output message="tns:ObtenerServiciosDerivarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <wsdl:input message="tns:ObtenerIntentosLlamadaHttpGetIn" />
      <wsdl:output message="tns:ObtenerIntentosLlamadaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <wsdl:input message="tns:ObtenerIntentosConfirmaSMSHttpGetIn" />
      <wsdl:output message="tns:ObtenerIntentosConfirmaSMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <wsdl:input message="tns:ObtenerSMSaConfirmarHttpGetIn" />
      <wsdl:output message="tns:ObtenerSMSaConfirmarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <wsdl:input message="tns:informarResultadosHttpGetIn" />
      <wsdl:output message="tns:informarResultadosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <wsdl:input message="tns:DatosDeServicioHttpGetIn" />
      <wsdl:output message="tns:DatosDeServicioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <wsdl:input message="tns:ObtenerFormularioHttpGetIn" />
      <wsdl:output message="tns:ObtenerFormularioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <wsdl:input message="tns:ValidarAccesoHttpGetIn" />
      <wsdl:output message="tns:ValidarAccesoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <wsdl:input message="tns:ObtenerAlertasHttpGetIn" />
      <wsdl:output message="tns:ObtenerAlertasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ObtenerServiciosDerivar">
      <wsdl:input message="tns:ObtenerServiciosDerivarHttpPostIn" />
      <wsdl:output message="tns:ObtenerServiciosDerivarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <wsdl:input message="tns:ObtenerIntentosLlamadaHttpPostIn" />
      <wsdl:output message="tns:ObtenerIntentosLlamadaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <wsdl:input message="tns:ObtenerIntentosConfirmaSMSHttpPostIn" />
      <wsdl:output message="tns:ObtenerIntentosConfirmaSMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <wsdl:input message="tns:ObtenerSMSaConfirmarHttpPostIn" />
      <wsdl:output message="tns:ObtenerSMSaConfirmarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <wsdl:input message="tns:informarResultadosHttpPostIn" />
      <wsdl:output message="tns:informarResultadosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <wsdl:input message="tns:DatosDeServicioHttpPostIn" />
      <wsdl:output message="tns:DatosDeServicioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <wsdl:input message="tns:ObtenerFormularioHttpPostIn" />
      <wsdl:output message="tns:ObtenerFormularioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <wsdl:input message="tns:ValidarAccesoHttpPostIn" />
      <wsdl:output message="tns:ValidarAccesoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <wsdl:input message="tns:ObtenerAlertasHttpPostIn" />
      <wsdl:output message="tns:ObtenerAlertasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerServiciosDerivar">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerServiciosDerivar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerIntentosLlamada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerIntentosConfirmaSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerSMSaConfirmar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/informarResultados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/DatosDeServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ValidarAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <soap:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerAlertas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerServiciosDerivar">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerServiciosDerivar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerIntentosLlamada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerIntentosConfirmaSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerSMSaConfirmar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/informarResultados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/DatosDeServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerFormulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ValidarAcceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <soap12:operation soapAction="http://ws_derivacion_ivr.redsos.com.ar/ObtenerAlertas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerServiciosDerivar">
      <http:operation location="/ObtenerServiciosDerivar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <http:operation location="/ObtenerIntentosLlamada" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <http:operation location="/ObtenerIntentosConfirmaSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <http:operation location="/ObtenerSMSaConfirmar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <http:operation location="/informarResultados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <http:operation location="/DatosDeServicio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <http:operation location="/ObtenerFormulario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <http:operation location="/ValidarAcceso" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <http:operation location="/ObtenerAlertas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerServiciosDerivar">
      <http:operation location="/ObtenerServiciosDerivar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosLlamada">
      <http:operation location="/ObtenerIntentosLlamada" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIntentosConfirmaSMS">
      <http:operation location="/ObtenerIntentosConfirmaSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSMSaConfirmar">
      <http:operation location="/ObtenerSMSaConfirmar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="informarResultados">
      <http:operation location="/informarResultados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosDeServicio">
      <http:operation location="/DatosDeServicio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFormulario">
      <http:operation location="/ObtenerFormulario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAcceso">
      <http:operation location="/ValidarAcceso" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertas">
      <http:operation location="/ObtenerAlertas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://wsderivacionservicios.redsos.com.ar/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://wsderivacionservicios.redsos.com.ar/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://wsderivacionservicios.redsos.com.ar/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://wsderivacionservicios.redsos.com.ar/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>