Logictracker/Logictracker/src/Common/QueueSupport/Configuracion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DispCfg">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="Queue">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="handler">
                <xs:complexType>
                  <xs:attribute name="class" type="xs:string" use="required" />
                  <xs:attribute name="perInstance" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="transacional" type="xs:boolean" default="false" />
            <xs:attribute name="qHandler" type="xs:string" use="optional"/>
            <xs:attribute name="timeout" type="xs:int" default="0" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>