Logictracker/BackEnd/Interfaces/Logictracker.Interfaces.SqlToWebServices/Service References/Service/Tickets.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://plataforma.logictracker.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://plataforma.logictracker.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://plataforma.logictracker.com/">
      <s:element name="AssignAndInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="utcDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="clientCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deliveryPointCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tripNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="vehicle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="load" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignAndInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssignAndInitResult" type="tns:RespuestaOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Resultado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RespuestaOk" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:RespuestaOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RespuestaOk" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsActiveResult" type="tns:RespuestaOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="tns:RespuestaOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AssignAndInitSoapIn">
    <wsdl:part name="parameters" element="tns:AssignAndInit" />
  </wsdl:message>
  <wsdl:message name="AssignAndInitSoapOut">
    <wsdl:part name="parameters" element="tns:AssignAndInitResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IsActiveSoapIn">
    <wsdl:part name="parameters" element="tns:IsActive" />
  </wsdl:message>
  <wsdl:message name="IsActiveSoapOut">
    <wsdl:part name="parameters" element="tns:IsActiveResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="TicketsSoap">
    <wsdl:operation name="AssignAndInit">
      <wsdl:input message="tns:AssignAndInitSoapIn" />
      <wsdl:output message="tns:AssignAndInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <wsdl:input message="tns:IsActiveSoapIn" />
      <wsdl:output message="tns:IsActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicketsSoap" type="tns:TicketsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignAndInit">
      <soap:operation soapAction="http://plataforma.logictracker.com/AssignAndInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://plataforma.logictracker.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <soap:operation soapAction="http://plataforma.logictracker.com/IsActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://plataforma.logictracker.com/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TicketsSoap12" type="tns:TicketsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignAndInit">
      <soap12:operation soapAction="http://plataforma.logictracker.com/AssignAndInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://plataforma.logictracker.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <soap12:operation soapAction="http://plataforma.logictracker.com/IsActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://plataforma.logictracker.com/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tickets">
    <wsdl:port name="TicketsSoap" binding="tns:TicketsSoap">
      <soap:address location="http://localhost/Logictracker/App_Services/Tickets.asmx" />
    </wsdl:port>
    <wsdl:port name="TicketsSoap12" binding="tns:TicketsSoap12">
      <soap12:address location="http://localhost/Logictracker/App_Services/Tickets.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>